[Desktop Entry]
Encoding=UTF-8
Name=KMusicManager
Exec=kmusicmanager
Icon=kmusicmanager.png
Type=Application
Terminal=false
Categories=Qt;KDE;Audio;
Comment=A KDE music collection management app
Comment[pl]=Narzędzie KDE do zarządzania zasobami muzycznymi
# vi: encoding=utf-8
